@import "reset";
@import "variables/global";
@import "themes/dark";
@import "themes/normal";

@font-face {
    font-family: Consolas;
    src: url("../../../public/fonts/Consolas.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap; // чтобы быстрее подгружался
}

body {
    font: var(--font-m);
    color: var(--primary-color);
}

.app {
    background: var(--bg-color);
    min-height: 100vh;
}

.content-page {
    display: flex;
}

.page-wrapper {
    flex-grow: 1;
    padding: 20px;
}
